<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}U-Ride{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            <div class="logo">
                U-Ride
            </div>
            <div class="nav-links">
                <a href="{{ url_for('home') }}">Home</a>

                {# Show Login ONLY if not logged in #}
                {% if not session.get('user_id') %}
                    <a href="{{ url_for('passenger_login_page') }}">Login</a>
                {% endif %}


                <a href="{{ url_for('passenger_register_page') }}">Passenger Register</a>

                <a href="{{ url_for('driver_register_page') }}">Driver Register</a>
                <a href="{{ url_for('admin_drivers_list') }}">Admin</a>

                {# Show Logout ONLY if logged in #}
                {% if session.get('user_id') %}
                    <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
                {% endif %}
            </div>

        </div>
    </nav>

    <main class="page">
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </main>

    <footer class="footer">
        <small>© 2025 U-Ride – Ride Hailing Management System</small>
    </footer>
</body>
</html>
